.cartPage {
  background-color: #ebeded;
  flex: 1;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: flex-start;
  padding: 40px 200px;
}

.cartPage h1 {
  display: flex;
  justify-content: center;
}

.cartPage > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
}

.cartPage > div:nth-child(1) {
  flex: 1 0 250px;
  align-items: center;
  padding: 30px 0px;
}

.cartPage > div:nth-child(1) > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cartPage > div:nth-child(2) {
  width: 300px;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  
}

.cartPage > div:nth-child(2) > p {
  font-weight: bolder;
  font-size: 1.8rem;
}

.cartPage > div:nth-child(2) > button {
  padding: 2px 44px;
}
