.card {
  width: 300px;
  height: 450px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.card > div:first-of-type {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card img {
  width: 150px;
  height: auto;
  object-fit: contain;
}

.card > p:nth-of-type(1) {
  display: flexbox;
  align-items: center;
  text-align: center;
  height: 30px;
  width: max-width;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card input {
  border: none;
  background-color: #f9f9f9;
  border-radius: 20px;
  width: 20%;
  padding: 0px 10px;
}

.card > div:nth-of-type(2) {
  display: flex;
  justify-content: center;
  gap: 5px;
}
