.app {
  background-image: url(/background.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.navBar {
  background-color: rgb(0, 0, 0);
  color: white;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.navBar ul {
  display: flex;
  gap: 15px;
}

.navBar a {
  color: white;
}
